.container {
  position: relative;
  display: flex;
  flex-direction: row;
  /* width: 100%; */
  height: 2rem;
  padding: 0.5rem 1rem;
  align-items: center;
  justify-content: center;
  gap: 2px;
  background-color: var(--items-container);
  box-shadow: inset var(--box-shadow-offset-x) var(--box-shadow-offset-y)
    var(--box-shadow-blur) var(--box-shadow-spread) var(--box-shadow-color);
  border-radius: var(--border-radius);
}
.container > div {
  cursor: pointer;
  border-radius: 5px;
  /* box-shadow: var(--box-shadow-offset-x) var(--box-shadow-offset-y)
    var(--box-shadow-blur) var(--box-shadow-spread) var(--box-shadow-color); */

  transition: all 300ms ease-in-out;
}
.container > div[aria-current="true"] {
  background-color: var(--primary-color);
  transform: scaleY(1.5);
}

.bar_end {
  height: 100%;
  width: 5px;
  background-color: var(--text-color);
}
.bar_center {
  height: 5px;
  width: 8%;
  background-color: var(--text-color);
}
.bar_position {
  height: 50%;
  width: 5px;
  background-color: var(--text-color);
}
.bar_end:hover {
  transform: scaleY(1.5);
  background-color: var(--primary-color);
}
.bar_position:hover {
  transform: scaleY(1.5);
  background-color: var(--primary-color);
}
